<%- include('includes/header.ejs', { subject: 'Welcome to Smart AI Jobber!' }) %>

<p>Hi <strong><%= user %></strong>,</p>

<p>Welcome to <strong>Smart AI Jobber</strong> — we're thrilled to have you!</p>

<p>You can now explore opportunities, get <strong>AI-Powered Job Recommendations</strong> 
    straight to your inbox and get the most out of our platform.
</p>
<p>Ensure you add this email account to your inbox so you don't miss out on mouth-watering job opportunities</p>
<p>Start your journey by visiting your dashboard:</p>
<p style="text-align:center;">
  <a href="https://smartaijobber.com/dashboard" class="button">Go to Dashboard</a>
</p>

<%- include('includes/footer.ejs') %>
